/* components/dynasty-poet-box/dynasty-poet-box.wxss */
.dynasty-poet-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 80px;
  border: 4px solid #888d6d;
  border-radius: 10px;
  background-color: #f0efe2;
  cursor: pointer;

  .content {
    font-weight: bold;
    color: #333;
    font-size: 20px;
  }
}